<igx-grid [data]="dataSourceFeaturesFeatures" primaryKey="featureId" displayDensity="cosy" rowSelection="multiple" [rowEditable]="true" [moving]="true" columnSelection="multiple" [allowFiltering]="true" filterMode="excelStyleFilter" class="grid">
  <igx-grid-toolbar>
    <igx-grid-toolbar-actions>
      <igx-grid-toolbar-pinning></igx-grid-toolbar-pinning>
      <igx-grid-toolbar-hiding></igx-grid-toolbar-hiding>
      <igx-grid-toolbar-exporter></igx-grid-toolbar-exporter>
    </igx-grid-toolbar-actions>
    <igx-grid-toolbar-title>Grid Toolbar</igx-grid-toolbar-title>
  </igx-grid-toolbar>
  <igx-column field="featureId" dataType="number" header="featureId" [groupable]="true" [sortable]="true" [resizable]="true"></igx-column>
  <igx-column field="productId" dataType="number" header="productId" [groupable]="true" [sortable]="true" [resizable]="true"></igx-column>
  <igx-column field="title" dataType="string" header="title" [groupable]="true" [sortable]="true" [resizable]="true"></igx-column>
  <igx-column field="description" dataType="string" header="description" [groupable]="true" [sortable]="true" [resizable]="true"></igx-column>
  <igx-column field="requestorEmail" dataType="string" header="requestorEmail" [groupable]="true" [sortable]="true" [resizable]="true"></igx-column>
  <igx-column field="dateAdded" dataType="date" header="dateAdded" [groupable]="true" [sortable]="true" [resizable]="true"></igx-column>
  <igx-column field="product" dataType="string" header="product" [groupable]="true" [sortable]="true" [resizable]="true"></igx-column>
  <igx-column field="productNavigation.productId" dataType="number" header="productNavigation productId" [groupable]="true" [sortable]="true" [resizable]="true"></igx-column>
  <igx-column field="productNavigation.productDescription" dataType="string" header="productNavigation productDescription" [groupable]="true" [sortable]="true" [resizable]="true"></igx-column>
  <igx-action-strip>
    <igx-grid-pinning-actions></igx-grid-pinning-actions>
    <igx-grid-editing-actions [addRow]="true"></igx-grid-editing-actions>
  </igx-action-strip>
</igx-grid>
<igx-snackbar class="snackbar">
  This is a message
</igx-snackbar>
